modelscope==1.9.5
transformers==4.35.2
streamlit==1.24.0
sentencepiece==0.1.99
accelerate==0.24.1
langchain==0.0.292
gradio==4.4.0
chromadb==0.4.15
sentence-transformers==2.2.2
unstructured==0.10.30
markdown==3.3.7
pypdf
pdf2image
pdfminer
pdfminer.six
opencv-python
unstructured_pytesseract
unstructured_inference
pysqlite3-binary
rank_bm25==0.2.2
einops==0.7.0